{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <a class="ui basic compact button" href="{{ url_for('apps.view_apps') }}">
                <i class="caret left icon"></i>
                Back to Add New Apps
            </a>
            <h2 class="ui header">
                New App Template
                <div class="sub header">Add a new app template</div>
                {% if notes %}
                    <div class="ui mini floating compact message">
                    <div class="content">
                        <h3 class="ui small header">
                        Note:
                        </h3>
                        <p style="font-weight: normal;">{{ notes }}</p>
                    </div>
                    </div>
                {% endif %}
                {% set flashes = {
                    'error':   get_flashed_messages(category_filter=['form-error']),
                    'warning': get_flashed_messages(category_filter=['form-check-email']),
                    'info':    get_flashed_messages(category_filter=['form-info']),
                    'success': get_flashed_messages(category_filter=['form-success'])
                } %}
                    {# WIP form for deploying an application #}
                {{ f.begin_form(form, flashes) }}

                    {{ f.render_form_field(form.name)}}
                    {{ f.render_form_field(form.image) }}
                    {{ f.render_form_field(form.restart_policy) }}

                    <div class=" ui horizontal section divider "> Ports </div>
                    <div class="ui three column very relaxed centered grid" id="fieldset-ports">
                        <button class="circular ui icon button" type="button" data-toggle="fieldset-add-item" data-target="#fieldset-ports"><i class="icon plus"></i></button>
                        {% if form.ports %}
                            {% for p in form.ports %}
                                <div class="row" data-toggle="fieldset-item" >
                                    <div class="column">
                                        {{ p.form.cport.label(class="col-sm-2 col-form-label") }}
                                        <div class="ui fluid icon input">
                                            {{ p.form.cport(class="form-control") }}
                                            <i class="server icon"></i>
                                        </div>
                                    </div>
                                    <div class="column">
                                        {{ p.form.hport.label(class="col-sm-2 col-form-label") }}
                                        <div class="ui fluid icon input">
                                            {{ p.form.hport(class="form-control") }}
                                            <i class="hdd icon"></i>
                                        </div>
                                    </div>
                                    <div class="column">
                                        {{ p.form.proto.label(class="col-sm-2 col-form-label") }}
                                        <div class="ui fluid right action left icon input">
                                            {{ p.form.proto(class="form-control") }}
                                            <button class="ui icon button" type="button" data-toggle="fieldset-remove-item" data-target="#fieldset-ports"><i class="icon minus"></i></button>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    <div class=" ui horizontal section divider "> Volumes </div>
                    <div class="ui two column very relaxed centered grid" id="fieldset-volumes">
                        <button class="circular ui icon button" type="button" data-toggle="fieldset-add-item" data-target="#fieldset-volumes"><i class="icon plus"></i></button>
                        {% if form.volumes %}
                            {% for l in form.volumes %}
                                <div class="row" data-toggle="fieldset-item" >
                                    <div class="column">
                                        {{ l.form.container.label(class="col-sm-2 col-form-label") }}
                                        <div class="ui fluid icon input">
                                            {{ l.form.container(class="form-control") }}
                                            <i class="server icon"></i>
                                        </div>
                                    </div>
                                        <div class="column">
                                        {{ l.form.bind.label(class="col-sm-2 col-form-label") }}
                                        <div class="ui fluid right action left icon input">
                                            {{ l.form.bind(class="form-control") }}
                                            <i class="hdd icon"></i>
                                            <button class="ui icon button" type="button" data-toggle="fieldset-remove-item" data-target="#fieldset-volumes"><i class="icon minus"></i></button>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    <div class="ui hidden divider"></div>
                    {% if form.env %}
                    <div class=" ui horizontal section divider "> Environment Variables </div>
                    <div class="ui two column very relaxed centered grid" id="fieldset-env">
                            <button class="circular ui icon button" type="button" data-toggle="fieldset-add-item" data-target="#fieldset-env"><i class="icon plus"></i></button>
                            {% for e in form.env %}
                            <div class="row" data-toggle="fieldset-item">
                                <div class="column">
                                    {{ e.form.name.label(class="col-sm-2 col-form-label") }}
                                    <div class="ui fluid icon input">
                                        {{ e.form.name(class="form-control") }}
                                        <i class="cogs icon"></i>
                                    </div>
                                </div>
                                    <div class="column">
                                    {{ e.form.default.label(class="col-sm-2 col-form-label") }}
                                    <div class="ui fluid right action left icon input">
                                        {{ e.form.default(class="form-control") }}
                                        <i class="code icon"></i>
                                        <button class="ui icon button" type="button" data-toggle="fieldset-remove-item" data-target="#fieldset-env"><i class="icon minus"></i></button>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class=" ui horizontal section divider "> Sysctls </div>
                    <div class="ui two column very relaxed centered grid" id="fieldset-sysctls">
                        <button class="circular ui icon button" type="button" data-toggle="fieldset-add-item" data-target="#fieldset-sysctls"><i class="icon plus"></i></button>
                        {% if form.sysctls %}
                            {% for s in form.sysctls %}
                                <div class="row" data-toggle="fieldset-item" >
                                    <div class="column">
                                        {{ s.form.name.label(class="col-sm-2 col-form-label") }}
                                        <div class="ui fluid icon input">
                                            {{ s.form.name(class="form-control") }}
                                            <i class="server icon"></i>
                                        </div>
                                    </div>
                                        <div class="column">
                                        {{ s.form.value.label(class="col-sm-2 col-form-label") }}
                                        <div class="ui fluid right action left icon input">
                                            {{ s.form.value(class="form-control") }}
                                            <i class="hdd icon"></i>
                                            <button class="ui icon button" type="button" data-toggle="fieldset-remove-item" data-target="#fieldset-sysctls"><i class="icon minus"></i></button>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                        {% endif %}
                    <div class="ui hidden divider"></div>
                        <button type="submit" class="ui right floated labeled icon button">
                            <i class="play icon"></i>
                            Deploy App
                        </button>
                {{ f.end_form() }}
            </h2>
        </div>
    </div>
    <script type="text/javascript">
    (function() {
    $(document).ready(function() {

        // add fieldset-entry
        $('button[data-toggle=fieldset-add-item]').click(function() {
        let target = $($(this).data("target"));
            oldrow = target.find("[data-toggle=fieldset-item]:last"),
            newrow = oldrow.clone(true, true);

        let elems = newrow.find('input'),
            elemnum = parseInt(elems[0].id.replace(
                /.*-(\d+).*/g,
                function(a, b) { return +b+1; }));

        elems.each(function() {
            let self = $(this),
                id = self.attr('id').replace(
                    '-' + (elemnum - 1),
                    '-' + (elemnum));
            self.attr('id', id)
                .attr('name', id)
                .val('');
        });
        newrow.find('label').each(function() {
            $(this).attr('for', function(i, value) {
            return value.replace(/(.*)-(\d+)(.*)/g, '$1-'+ elemnum +'$3')
            })
        });
        oldrow.after(newrow);
        });
        // endof add fieldset-entry

        // remove fieldset-entry
        $(this).find('button[data-toggle=fieldset-remove-item]').click(function() {
        let target = $($(this).data('target'));
        if (target.find('[data-toggle=fieldset-item]').length > 1) {
            $(this).closest('[data-toggle=fieldset-item]').remove();
        }
        });
        // endof fieldset-entry
    });
    })()
    </script>
{% endblock %}
