{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <a class="ui basic compact button" href="{{ url_for('apps.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                New App Template
                <div class="sub header">Add a new app template</div>
                {% set flashes = {
                    'error':   get_flashed_messages(category_filter=['form-error']),
                    'warning': get_flashed_messages(category_filter=['form-check-email']),
                    'info':    get_flashed_messages(category_filter=['form-info']),
                    'success': get_flashed_messages(category_filter=['form-success'])
                } %}
    
                {{ f.begin_form(form, flashes) }}

                    {{ f.render_form_field(form.name)}}
                    {{ f.render_form_field(form.image) }}
                    {{ f.render_form_field(form.restart_policy) }}
                    {% if app.ports %}
                        {% for port in app.ports %}
                            {{ f.render_form_field(form.ports) }}
                        {% endfor %}
                    {% endif %}
                    {% if app.volumes %}
                        {% for volume in app.volumes %}
                            {{ f.render_form_field(form.volumes) }}
                        {% endfor %}
                    {% endif %}
    
                {{ f.end_form() }}
            </h2>
        </div>
    </div>
{% endblock %}