{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <!-- Flash messages if they exist -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li style="color: tomato;">{{ message }}</li>
                {% endfor %}
            </ul>
            <hr>
            {% endif %}
            {% endwith %}

            <h2 class="ui header">
                App Dashboard
            </h2>
            <div class="ui two column stackable grid">
                {{ dashboard_option('View Apps', 'admin.registered_users',
                                    description='View and manage running apps', icon='users icon') }}
                {{ dashboard_option('Add New Apps', 'apps.view_apps',
                                    description='Invites a new user to create their own account', icon='plus icon') }}
                {{ dashboard_option('View Templates', 'apps.view_templates',
                                    description='View and manage templates', icon='list layout icon') }}
                {{ dashboard_option('Add New Template', 'apps.new_template',
                                    description='Add a new template manifest', icon='add icon') }}
            </div>
        </div>
    </div>
{% endblock %}