{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% set endpoints = [
    ('apps.template_info', 'Template Information'),
    ('apps.template_content', 'Template Content'),
] %}

{% macro navigation(items) %}
    <div class="ui vertical fluid secondary menu">
        {% for route, name in items %}
            {% set href = url_for(route, template_id=template.id) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ name }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro template_info(template) %}
    <table class="ui compact definition table">
        <tr><td>Template Name</td><td>{{ template.name }}</td></tr>
        <tr><td>Template URL</td><td>{{ template.url }}</td></tr>
        <tr><td>Template Path</td><td>{{ template.path }}</td></tr>
    </table>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <a class="ui basic compact button" href="{{ url_for('apps.view_templates') }}">
                <i class="caret left icon"></i>
                Back to all templates
            </a>
            <h2 class="ui header">
                {{ template.name }}
                <div class="sub header">View and manage {{ template.name }}.</div>
            </h2>
        </div>
        <div class="stretched divided very relaxed row">
            <div class="four wide column">
                {{ navigation(endpoints) }}
            </div>
            <div class="eight wide column">
                {% if request.endpoint == deletion_endpoint %}
                    <h3 class="ui red block header">
                        <i class="warning circle icon"></i>
                        <div class="content">
                            This action is permanent
                            <div class="sub header">
                                Deleting a user account is not a reversible change. Any information associated
                                with this account will be removed, and cannot be recovered.
                            </div>
                        </div>
                    </h3>

                    <div class="ui form">
                        <div class="inline field">
                            <div class="ui deletion checkbox">
                                <input type="checkbox" tabindex="0" class="hidden">
                                <label>I understand that this action cannot be undone.</label>
                            </div>
                        </div>
                        <a class="ui disabled negative deletion button">
                            Delete this user
                        </a>
                    </div>
                    </div>
                {% elif form %}
                    {{ f.render_form(form) }}
                {% elif content %}}
                    <pre style="min-width: 1000px; overflow: auto; height: 600px; ">{{ content }}</pre>
                {% else %}
                    {{ template_info(template) }}
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('.deletion.checkbox').checkbox({
            onChecked: function() {
                $('.deletion.button').removeClass('disabled')
                        .attr('href', '{{ url_for('apps.template_info', template_id=template.id) }}');
            },
            onUnchecked: function() {
                $('.deletion.button').addClass('disabled').removeAttr('href');
            }
        });
    </script>
{% endblock %}