{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet sixteen wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('apps.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Apps
                <div class="sub header">
                    View and manage currently running Apps.
                </div>
            </h2>

            <div class="ui menu">
                <div class="ui right search item">
                    <div class="ui transparent icon input">
                        <input id="search-users" type="text" placeholder="Search apps…">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: auto;">
                <table class="ui collapsing searchable sortable two column unstackable selectable very basic table">
                    <thead>
                        <tr>
                            <th class="sorted ascending">App Name</th>
                            <th>App Ports</th>
                            <th>Mount Points</th>
                            <th>App Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for a in apps | sort(attribute='name') %} {# Show table of templates #}
                        <tr onclick="window.location.href = '{{ url_for('apps.container_info', container_name=a.name) }}';">
                            <td class="two wide">{{ a.name }}</td>
                            <td class="two wide">
                            {% for port in a.ports.values() %}
                                {% if port %}
                                    {% for entry in port %}
                                        {{entry.get('HostIp')}}:{{entry.get('HostPort')}}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            </td>
                            <td>
                            {% for mount in a.attrs.Mounts %}
                                {% if mount %}
                                    {{ mount.get('Destination') }}:{{ mount.get('Source') }},<br>
                                {% endif %}
                            {% endfor %}
                            </td>
                            <td>{{ a.status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-users').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });

            $('#select-role').dropdown({
                onChange: function (value, text, $selectedItem) {
                    $('td.user.role:contains(' + value + ')').closest('tr').removeClass('hidden').show();
                    $('td.user.role').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
                }
            });
        });
    </script>
{% endblock %}