backend/.webassets-cache/
backend/webassets-external/
backend/config/data-dev.sqlite
backend/.DS_Store
backend/*.pyc
backend/*.pyo
backend/env
backend/venv
backend/*.env
backend/dist
backend/*.egg
backend/*.egg-info
backend/*.sqlite
backend/.idea
backend/dump.rdb
backend/.vscode/
backend/app/storage
backend/migrations/
backend/config/
backend/.ftpconfig
backend/.ftpignore

frontend/node_modules
frontned/.gitignore
fronend/.gitignore

.git