alembic==1.1.0
attrs==19.1.0
blinker==1.4
certifi==2019.6.16
chardet==3.0.4
Click==7.0
docker==4.2.1
Faker==2.0.1
Flask==1.1.1
Flask-Assets==0.12
Flask-Caching==1.9.0
Flask-Compress==1.4.0
Flask-Dance==3.0.0
Flask-JWT-Extended==3.24.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
flask-marshmallow==0.13.0
Flask-Migrate==2.5.2
Flask-Moment==0.10.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
Flask-SSLify==0.1.5
Flask-WTF==0.14.2
gunicorn==20.0.4
honcho==1.0.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
jsmin==2.2.2
jsonpickle==1.2
Mako==1.1.0
MarkupSafe==1.1.1
marshmallow==3.7.0
marshmallow-sqlalchemy==0.23.1
oauthlib==3.1.0
packaging==19.1
pipupgrade==1.5.1
psycopg2==2.8.3
PyJWT==1.7.1
pyparsing==2.4.2
python-dateutil==2.8.0
python-editor==1.0.4
python-gitlab==2.4.0
requests==2.22.0
requests-oauthlib==1.3.0
six==1.15.0
SQLAlchemy==1.3.8
SQLAlchemy-Utils==0.36.8
text-unidecode==1.2
urllib3==1.25.3
URLObject==2.4.3
webargs==6.1.0
webassets==0.12.1
websocket-client==0.57.0
Werkzeug==0.15.5
wget==3.2
WTForms==2.2.1