aiodocker==0.19.1
aiosqlite==0.15.0
alembic==1.4.3
bcrypt==3.1.7
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
click==7.1.2
databases==0.3.2
dnspython==2.0.0
docker==4.3.1
docker-compose==1.27.3
email-validator==1.1.1
fastapi==0.61.0
fastapi-jwt-auth==0.5.0
gunicorn==20.0.4
h11==0.9.0
httptools==0.1.1
idna==2.10
python-jose==3.2.0
makefun==1.9.2
passlib==1.7.4
psycopg2=2.8.6
pycparser==2.20
pydantic==1.7.3
PyJWT==1.7.1
python-multipart==0.0.5
PyYAML==5.4
requests==2.24.0
six==1.15.0
sh==1.14.1
SQLAlchemy==1.3.19
starlette==0.13.6
typing-extensions==3.7.4.2
urllib3==1.25.10
uvicorn==0.11.8
uvloop==0.14.0
websocket-client==0.57.0
websockets==8.1
wheel==0.36.2