@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
  @apply font-yacht antialiased h-screen w-screen !important;
}

.cls-1 {
  fill: #fff;
}

.cls-2 {
  fill: #34495e; 
}

.cls-3 {
  fill: #41b883;
}

.mat-ui-shadow {
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
}

.header {
  @apply sticky top-0 p-4 text-black dark:text-white bg-header-lgt dark:bg-header-drk h-16 w-full min-w-full z-10 leading-none;
  min-width: 480px !important;
}

.side-nav {
  @apply hidden sm:block h-full fixed inset-y-0 left-0;
  padding-top: 64px;
}

.side-nav-container {
  @apply flex flex-col justify-between text-black dark:text-white bg-header-lgt dark:bg-header-drk inset-x-0 top-0 h-full w-14 p-2;
}

.side-nav-icon-container {
  @apply flex flex-row justify-center;
}

.side-nav-icon {
  @apply my-1 mx-2 p-2 rounded bg-transparent hover:bg-gray-300 dark:hover:bg-gray-500 fill-current text-icon-lgt dark:text-icon-drk;
}

.bottom-nav {
  @apply sm:hidden absolute inset-x-0 bottom-0 text-black dark:text-white bg-header-lgt dark:bg-header-drk w-full h-16;
  min-width: 480px;
}

.bottom-nav-container {
  @apply flex flex-row justify-around h-full p-4;
}

.app-container {
  @apply bg-white dark:bg-black text-black dark:text-white h-screen w-screen;
}

.btn {
  @apply flex flex-row justify-center items-center rounded text-sm text-white uppercase font-semibold tracking-widest p-4;
}