@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  -webkit-tap-highlight-color: transparent;
  @apply font-yacht antialiased h-screen w-screen !important;
}

@media screen and (max-width: 480px) {
  .content {
    max-height: calc(100vh - 245px) !important;
  }
}

.content {
  max-height: calc(100vh - 165px);
}

.content-wrapper {
  @apply rounded bg-gray-50 dark:bg-content-drk shadow-md ml-0 sm:ml-2;
}

.mat-ui-shadow {
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
    0 1px 10px 0 rgb(0 0 0 / 12%);
}

.header {
  @apply sticky top-0 inset-x-0 p-4 text-black dark:text-white bg-header-lgt dark:bg-header-drk h-16 z-10 leading-none;
}

.side-nav {
  transition: width 0.1s ease-in;
  @apply hidden sm:block h-full fixed inset-y-0 left-0 pt-16;
}

.side-nav-container {
  @apply flex flex-col justify-between text-black dark:text-white bg-header-lgt dark:bg-header-drk inset-x-0 top-0 h-full p-2;
}

.side-nav-icon-container {
  @apply flex flex-row justify-center;
}

.side-nav-icon {
  @apply my-1 py-2 px-3 rounded bg-transparent hover:bg-gray-300 dark:hover:bg-gray-500 fill-current text-icon-lgt dark:text-icon-drk flex flex-row w-full;
}

.bottom-nav {
  @apply sm:hidden absolute inset-x-0 bottom-0 text-black dark:text-white bg-header-lgt dark:bg-header-drk w-full h-16;
}

.bottom-nav-container {
  @apply flex flex-row justify-between h-full px-4 py-2.5;
}

.nav-active {
  color: #41b883 !important;
}

.app-container {
  @apply bg-white dark:bg-black text-black dark:text-white h-screen w-screen;
}

.btn {
  @apply flex flex-row justify-center items-center rounded text-sm text-white uppercase font-semibold tracking-widest p-4 bg-btn-grn h-9;
}

.content-tabbed-nav {
  @apply p-2 text-black dark:text-white cursor-pointer bg-transparent hover:bg-gray-300 dark:hover:bg-gray-500 box-border;
}
